@charset "UTF-8";
body {
  margin: 0px;
  background-color: #FFFFFF;
  font-size: 18px; }

h3 {
  font-size: 150%; }

/* pc */
@media screen and (min-width: 640px) {
  /*ここにpc用スタイルを記述*/
  .wrapper {
    width: 100%; }
  .main {
    margin-top: 0;
    height: 400px;
    background-color: #006666;
    padding: 20% 10%;
    background-image: url(../img/device_swipe_top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative; }
  .main::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' '; }
  .main-text {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .main-text .main-text-large p {
      font-size: 48px;
      font-weight: 600;
      margin: 0;
      color: #FFFFFF; }
    .main-text .main-text-small p {
      font-size: 16px;
      margin: 10px auto;
      color: #FFFFFF; }
    .main-text .store-icon {
      display: block;
      width: 200px;
      height: 69px;
      margin: 20px auto; }
  .sub-right, .sub-left {
    padding: 5% 10%;
    height: 650px; }
    .sub-right .sub-text, .sub-left .sub-text {
      width: 50%; }
  .sub-left .sub-text {
    float: right; }
  .team-name {
    text-align: center;
    font-size: 40px; }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 120px 40px; }
  .member {
    width: 15%;
    padding: 20px 2%; }
  .member-img img {
    width: 100%;
    height: 100%; }
  .member-text {
    text-align: center;
    margin-top: 5px; }
  .footer {
    background-color: #e5e5e5;
    text-align: center;
    padding: 40px 70px; } }

/* smartPhone */
@media screen and (max-width: 640px) {
  /*ここにスマホ用スタイルを記述*/
  .wrapper {
    background-color: black; } }
