@charset "UTF-8";
/* smartPhone */
@media screen and (max-width: 640px) {
  /*ここにスマホ用スタイルを記述*/
  .wrapper {
    width: 100%; }
  /* main-top */
  .main {
    font-size: 32px;
    padding: 15% 5% 50%;
    text-align: center;
    background-image: url(../img/device_swipe_top_sp.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #29B1CC;
    color: #FFFFFF; }
    .main .main-text-large p {
      margin: 0;
      font-weight: 500; }
    .main .main-text-small {
      margin-top: 20px; }
    .main .main-text-small p {
      font-size: 16px;
      margin: 0 auto; }
  .store-icon {
    display: block;
    width: 200px;
    height: 69px;
    margin: 10% auto 5%; }
  .sns-wrapper {
    margin-bottom: 20px; }
  /* sub-right-left */
  .sub-right, .sub-left {
    padding: 15% 10% 5%;
    text-align: center; }
    .sub-right .sub-right .sub-text, .sub-left .sub-right .sub-text {
      width: 100%;
      padding: 15% 0; }
    .sub-right .sub-left .sub-text, .sub-left .sub-left .sub-text {
      width: 100%;
      padding: 10% 0; }
    .sub-right .sub-img img, .sub-left .sub-img img {
      width: 100%; }
  .sub-text-large, .sub-text-small {
    padding: 0 10%; }
  .sub-text-large p {
    font-size: 30px;
    margin: 0; }
  /* feature */
  .feature {
    margin: 20px 0;
    padding: 0 10%; }
    .feature .feature-detail {
      width: 100%;
      text-align: center; }
      .feature .feature-detail p {
        margin-top: 0; }
  /* team */
  .team-name {
    padding-top: 20px; }
  .team {
    padding: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 10%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px; }
    .team .member {
      width: 40%;
      text-align: center;
      display: inline-block; }
    .team .member-img img {
      width: 100%;
      height: 100%; }
    .team .member-name p, .team .member-text p {
      margin: 0; }
    .team .member-name {
      font-size: 18px; }
    .team .member-text {
      font-size: 11px; }
  .footer {
    background-color: #e5e5e5;
    text-align: center;
    padding: 2%; } }
