/* tablet */
@media (min-width: 640px) and (max-width: 760px) {
  .main {
    margin-top: 0;
    padding: 60px 5% 0;
    background-image: url(../img/bg_topimg.png);
    background-repeat: repeat-x;
    color: #FFFFFF; }
  .main-text {
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .main-text .main-text-large img {
      width: 80%; }
    .main-text .main-text-large p {
      font-size: 36px;
      font-weight: bold;
      margin: 0;
      padding: 0 40px; }
    .main-text .main-text-small p {
      font-size: 18px;
      padding: 0 40px; }
  .main-text-wrapper-img {
    width: 30%;
    margin-right: 20px;
    padding-top: 30px; }
    .main-text-wrapper-img img {
      width: 100%; }
  .main-text-wrapper {
    width: 60%;
    padding: 30px; }
    .main-text-wrapper .main-text-large {
      width: 100%; }
  .main-app-button {
    margin: 30px 0; }
  /* sub-right-left */
  .sub-right {
    padding: 80px 5% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sub-right .sub-text {
      width: 47%; }
    .sub-right .sub-img {
      max-width: 50%;
      min-width: 45%; }
      .sub-right .sub-img img {
        width: 100%;
        padding-top: 20px; }
  .sub-left {
    padding: 40px 5% 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sub-left .sub-img {
      max-width: 50%;
      min-width: 45%; }
      .sub-left .sub-img img {
        width: 100%;
        padding-top: 20px; }
    .sub-left .sub-text {
      width: 45%;
      padding-left: 3%; }
  .sub-text-large p {
    font-size: 34px;
    color: #29B1CC;
    margin: 15px 0 0; }
  .sub-text-small {
    font-size: 16px; }
  /* feature */
  .feature-wrap {
    background-color: #29B1CC;
    color: #FFFFFF;
    padding: 60px 5%; }
    .feature-wrap .feature {
      margin: 40px 0 0;
      padding: 0 5%; }
      .feature-wrap .feature .feature-upper, .feature-wrap .feature .feature-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .feature-wrap .feature .feature-upper {
        margin-bottom: 40px; }
      .feature-wrap .feature .feature-detail {
        width: 30%;
        text-align: center; }
        .feature-wrap .feature .feature-detail p {
          margin-top: 0;
          text-align: left;
          font-size: 16px; }
      .feature-wrap .feature .feature-detail + .feature-detail {
        margin-left: 50px; }
  /* team */
  .team-name {
    padding: 60px 0 40px;
    color: #29B1CC; }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 5% 60px; }
    .team .member {
      width: 150px;
      text-align: center;
      margin: 12px; }
    .team .member-name p, .team .member-text p {
      margin: 0;
      font-family: Arial;
      font-weight: bold; }
    .team .member-text {
      font-size: 13px;
      color: #29B1CC;
      margin: 10px 0; }
    .team .member-img img {
      width: 150px;
      height: 150px; }
    .team .member-name {
      font-size: 15px;
      color: #456E76;
      margin-bottom: 10px; }
    .team .social-icon {
      text-align: center; }
      .team .social-icon img {
        margin: 0 3px; }
  .footer {
    text-align: center;
    padding: 60px 40px; }
    .footer .contact-large {
      font-size: 36px;
      color: #29B1CC; }
    .footer .contact-small {
      font-size: 16px;
      color: #666666;
      margin-bottom: 40px; }
    .footer .contact-button {
      background-color: #29B1CC;
      font-size: 20px;
      color: #FFFFFF;
      padding: 24px 60px;
      border-radius: 10px;
      text-decoration: none; }
    .footer .contact-button-flame {
      margin: 50px 0 120px; }
    .footer .copyright {
      font-family: Arial;
      font-size: 14px;
      color: #999999; } }
