@charset "utf-8";

body {
  margin: 0px;
  background-color: #FFFFFF;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 18px;
  width: 100%;
}

h3 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
h4 {
  margin: 0;
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}

/* pc */
@media screen and (min-width: 1080px) {
/*ここにpc用スタイルを記述*/
  .wrapper {
  }

/* main-top */
  .main {
    margin-top: 0;
    padding: 60px 40px 0;
    background-image: url(../img/bg_topimg.png);
    background-repeat: repeat-x;
    color: #FFFFFF;
  }

  .main-text {
    max-width: 1000px;
    height: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    .main-text-large p {
      font-size: 40px;
      font-weight: bold;
      margin: 0;
    }
    .main-text-small p {
      font-size: 18px;
      margin: 40px auto 0;
    }
  }

  .main-text-wrapper-img {
    width: 380px;
    margin-right: 20px;
    padding-top: 30px;
  }

  .main-text-wrapper {
    width: 600px;
    padding-top: 70px;
  }

  .main-app-button {
    margin: 60px 0 30px;
  }

/* sub-right-left */
  .sub-right {
    padding: 80px 10% 5%;
    display: flex;
    justify-content: center;
    .sub-text {
      padding-top: 40px;
      width: 460px;
      height: 380px;
    }
    .sub-img img {
      width: 500px;
      height: 365px;
    }
  }

  .sub-left {
    padding: 80px 5% 10%;
    display: flex;
    justify-content: center;
    .sub-img img {
      width: 480px;
      height: 380px;
    }
    .sub-text {
    width: 460px;
    height: 380px;
    padding-left: 40px;
    }
  }

  .sub-text-large {
    margin-bottom: 50px;

    p {
      font-size: 38px;
      color: #29B1CC;
    }
  }


/* feature */
  .feature-wrap {
    background-color: #29B1CC;
    color: #FFFFFF;
    padding: 60px 5%;
    .feature {
      margin: 40px 0 0;
      padding: 0 10%;

      .feature-upper, .feature-bottom {
        display: flex;
        justify-content: center;
      }
      .feature-upper {
        margin-bottom: 40px;
      }

      .feature-detail {
        width: 300px;
        height: 261px;
        text-align: center;
        p {
          margin-top: 0;
          text-align: left;
          font-size: 16px;
        }
      }
      .feature-detail+.feature-detail {
        margin-left: 50px;
      }
    }
  }

/* team */
  .team-name {
    padding: 60px 0 40px;
    color: #29B1CC;
  }

  .team {
    display: flex;
    justify-content: center;
    padding: 0 5% 60px;

    .member {
      width: 150px;
      height: 220px;
      text-align: center;
      margin: 0 12px;
    }

    .member-name p, .member-text p {
      margin: 0;
      font-family: Arial;
      font-weight: bold;
    }

    .member-text {
      font-size: 13px;
      color: #29B1CC;
      margin: 10px 0;
    }

    .member-name {
      font-size: 15px;
      color: #456E76;
      margin-bottom: 10px;
    }

    .social-icon {
      text-align: center;
      img {
        margin: 0 3px;
      }
    }
  }

  .footer {
    text-align: center;
    padding: 60px 40px;
    .contact-large {
      font-size: 36px;
      color: #29B1CC;
    }
    .contact-small {
      font-size: 16px;
      color: #666666;
      margin-bottom: 40px;
    }
    .contact-button {
      background-color: #29B1CC;
      font-size: 20px;
      color: #FFFFFF;
      padding: 24px 60px;
      border-radius: 10px;
      text-decoration: none;
    }
    .contact-button-flame {
      margin: 50px 0 120px;
    }
    .copyright {
      font-family: Arial;
      font-size: 14px;
      color: #999999;
    }
  }
}
