@charset "utf-8";

body {
  margin: 0px;
  background-color: #FFFFFF;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
}

h3 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
h4 {
  margin: 0;
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}


/* pc */
@media screen and (min-width: 640px) {
/*ここにpc用スタイルを記述*/
  .wrapper {
    width: 100%;
  }

/* main-top */
  .main {
    margin-top: 0;
    padding: 10% 5%;
    background-image: url(../img/device_swipe_top.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #29B1CC;
    color: #FFFFFF;
  }

  .main-text {
    text-align: center;
    margin-left: 35%;
    padding: 0 10%;
    .main-text-large p {
      font-size: 48px;
      margin: 0;
    }
    .main-text-small p {
      font-size: 15px;
      margin: 0 auto;
      padding: 0 15%;
    }
  }

  .store-icon {
    display: block;
    width: 200px;
    height: 69px;
    margin: 30px auto;
  }

/* sub-right-left */
  .sub-right, .sub-left {
    .sub-text {
      width: 50%;
      padding: 15% 0;
    }
  }


  .sub-right {
    padding: 5% 10%;

    .sub-text {
      float: left;
    }
    .sub-img img{
      width: 50%;
    }
  }

  .sub-left {
    padding: 2% 10% 5%;

    .sub-text {
    float: right;
    }
    .sub-img img{
      width: 50%;
    }
  }

  .sub-text-large, .sub-text-small {
    padding: 0 10%;
  }

  .sub-text-large p {
      font-size: 30px;
      margin: 0;
    }

/* feature */
  .feature {
    margin-bottom: 40px;
    padding: 0 10%;

    .feature-upper, .feature-bottom {
      display: flex;
    }

    .feature-detail {
      width: 30%;
      padding: 0 2%;
      text-align: center;
      p {
        margin-top: 0;
        text-align: left;
      }
    }
  }

/* team */
  .team-name {
    padding-top: 20px;
  }

  .team {
    display: flex;
    padding: 0 10%;

    .member {
      width: 15%;
      padding: 20px 1%;
      text-align: center;
    }

    .member-name p, .member-text p{
      margin: 0;
    }

    .member-name {
      font-size: 18px;
    }

    .member-text {
      font-size: 11px;
    }
  }

  .footer {
    background-color: #e5e5e5;
    text-align: center;
    padding: 40px 70px;
  }
}
