/* smartPhone */
@media screen and (max-width: 640px) {
/*ここにスマホ用スタイルを記述*/

.wrapper {
    width: 100%;
  }

/* main-top */
  .main {
    font-size: 32px;
    padding: 20% 5% 50%;
    text-align: center;
    background-image: url(../img/device_swipe_top_sp.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center bottom;

    .main-text-large p {
      font-weight: 600;
      margin: 0;
    }

    .main-text-small {
      margin-top: 20px;
    }

    .main-text-small p {
      font-size: 16px;
      margin: 0 auto;
    }
  }

  .store-icon {
    display: block;
    width: 200px;
    height: 69px;
    margin: 10px auto 30px;
  }

/* sub-right-left */
  .sub-right, .sub-left {
    padding: 15% 10% 5%;

    .sub-text {
      width: 100%;
      padding: 15% 0;
    }

    .sub-img img{
      width: 100%;
    }
  }

  .sub-text-large, .sub-text-small {
    padding: 0 10%;
  }

  .sub-text-large p {
      font-size: 30px;
      margin: 0;
    }

/* feature */
  .feature {
    margin-bottom: 40px;
    padding: 0 10%;

    .feature-upper, .feature-bottom {
      display: flex;
    }

    .feature-detail {
      width: 30%;
      padding: 0 2%;
      text-align: center;
      p {
        margin-top: 0;
        text-align: left;
      }
    }
  }

/* team */
  .team-name {
    padding-top: 20px;
  }

  .team {
    display: flex;
    padding: 0 10%;

    .member {
      width: 15%;
      padding: 20px 1%;
      text-align: center;
    }

    .member-name p, .member-text p{
      margin: 0;
    }

    .member-name {
      font-size: 18px;
    }

    .member-text {
      font-size: 11px;
    }
  }

  .footer {
    background-color: #e5e5e5;
    text-align: center;
    padding: 40px 70px;
  }
}