@charset "utf-8";

/* smartPhone */
@media screen and (max-width: 640px) {
/*ここにスマホ用スタイルを記述*/

.wrapper {
    width: 100%;
  }

/* main-top */
  .main {
    font-size: 32px;
    padding: 15% 5% 50%;
    text-align: center;
    background-image: url(../img/device_swipe_top_sp.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #29B1CC;
    color: #FFFFFF;

    .main-text-large p {
      margin: 0;
      font-weight: 500;
    }

    .main-text-small {
      margin-top: 20px;
    }

    .main-text-small p {
      font-size: 16px;
      margin: 0 auto;
    }
  }

  .store-icon {
    display: block;
    width: 200px;
    height: 69px;
    margin: 10% auto 5%;
  }

  .sns-wrapper {
    margin-bottom: 20px;
  }

/* sub-right-left */
  .sub-right, .sub-left {
    padding: 15% 10% 5%;
    text-align: center;

    .sub-right .sub-text {
      width: 100%;
      padding: 15% 0;
    }

    .sub-left .sub-text {
      width: 100%;
      padding: 10% 0;
    }

    .sub-img img{
      width: 100%;
    }
  }

  .sub-text-large, .sub-text-small {
    padding: 0 10%;
  }

  .sub-text-large p {
      font-size: 30px;
    }
  .sub-text-large p:first-child {
      margin: 0;
  }

  .sub-text-large p:last-child {
      margin: 0 8px 0 20px;
  }

/* feature */
  .feature {
    margin: 20px 0;
    padding: 0 10%;

    .feature-detail {
      width: 100%;
      text-align: center;
      p {
        margin-top: 0;
      }
    }
  }

/* team */
  .team-name {
    padding-top: 20px;
  }

  .team {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;

    .member {
      width: 40%;
      text-align: center;
      display: inline-block;
    }

    .member-img img{
      width: 100%;
      height: 100%;
    }

    .member-name p, .member-text p{
      margin: 0;
    }

    .member-name {
      font-size: 18px;
    }

    .member-text {
      font-size: 11px;
    }
  }

  .footer {
    background-color: #e5e5e5;
    text-align: center;
    padding: 2%;
  }
}