@charset "utf-8";

/* smartPhone */
@media screen and (max-width: 640px) {
/*ここにスマホ用スタイルを記述*/

.wrapper {
    width: 100%;
  }

/* main-top */
  .main {
    font-size: 32px;
    padding: 15% 5% 0;
    text-align: center;
    background-image: url(../img/bg_topimg.png);
    background-repeat: repeat-y;
    color: #FFFFFF;

    .main-text {
      display: flex;
      flex-direction: column-reverse;
    }

    .main-text-large {
      img {
        width: 100%;
      }

      p {
      font-size: 30px;
      margin: 0;
      font-weight: 500;
      }
    }

    .main-text-wrapper-img {
      margin-bottom: -12px;
      img {
        width: 90%;
      }
    }

    .main-text-small {
      padding: 20px 20px 0;
    }

    .main-text-small p {
      font-size: 16px;
      margin: 0 auto;
    }
  }

  .main-app-button {
    display: block;
    width: 200px;
    height: 69px;
    margin: 10% auto 5%;
  }

  .sns-wrapper {
    margin-bottom: 20px;
  }

/* sub-right-left */
  .sub-right, .sub-left {
    padding: 15% 10% 5%;
    text-align: center;

    .sub-right .sub-text {
      width: 100%;
      padding: 15% 0;
    }

    .sub-left .sub-text {
      width: 100%;
      padding: 10% 0;
    }

    .sub-img img{
      width: 100%;
    }
  }

  .sub-text-large, .sub-text-small {
  }

  .sub-text-large p {
      font-size: 30px;
      padding-left: 5%;
  }


/* feature */
  .feature-wrap {
    background-color: #29B1CC;
    color: #FFFFFF;
    padding: 60px 0;
    .feature {
      margin: 40px 0 0;

      .feature-detail {
        padding: 0 10%;
        text-align: center;
        p {
          margin-top: 0;
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }

/* team */
  .team-name {
    padding: 60px 0 40px;
    color: #29B1CC;
  }

  .team {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;

    .member {
      width: 40%;
      text-align: center;
      display: inline-block;
    }

    .member-img img {
      width: 100%;
      height: 100%;
    }

    .member-name p, .member-text p {
      margin: 0;
      font-family: Arial;
      font-weight: bold;
    }

    .member-name {
      font-size: 13px;
      color: #29B1CC;
      margin: 10px 0;
    }

    .member-text {
      font-size: 15px;
      color: #456E76;
      margin-bottom: 10px;
    }
  }

  .footer {
    text-align: center;
    padding: 60px 5%;
    .contact-large {
      font-size: 36px;
      color: #29B1CC;
    }
    .contact-small {
      font-size: 16px;
      color: #666666;
      margin-bottom: 40px;
    }
    .contact-button {
      background-color: #29B1CC;
      font-size: 20px;
      color: #FFFFFF;
      padding: 24px 10px;
      border-radius: 10px;
      text-decoration: none;
    }
    .contact-button-flame {
      margin: 50px 0 120px;
    }
    .copyright {
      font-family: Arial;
      font-size: 14px;
      color: #999999;
    }
  }
}