// @charset "utf-8";

// /* tablet */
// @media (min-width: 640px) and (max-width: 760px) {

//   .wrapper {
//   }

//   .main {
//     padding: 60px 0 0 5%;
//     background-image: url(../img/bg_topimg.png);
//     background-repeat: repeat-x;
//     color: #FFFFFF;
//   }

//   .main-text {
//     // margin: auto;
//     text-align: center;
//     display: flex;
//     flex-direction: row;
//     .main-text-large img {width: 80%;}
//     .main-text-large p {
//       font-size: 36px;
//       font-weight: bold;
//       margin: 0;
//     }
//     .main-text-small p {
//       font-size: 18px;
//       padding: 0 40px;
//     }
//   }

//   .main-text-wrapper-img {
//     width: 40%;
//     margin-right: 20px;
//     padding-top: 30px;
//     img {
//       width: 100%;
//     }
//   }

//   .main-text-wrapper {
//     width: 60%;
//     padding: 30px 0;
//     .main-text-large {
//       width: 100%;
//     }
//   }

//   .main-app-button {
//     margin: 30px 0;
//   }

// /* sub-right-left */
//   .sub-right {
//     padding: 80px 5% 5%;
//     display: flex;
//     justify-content: center;
//     .sub-text {
//       width: 47%;
//     }
//     .sub-img {
//       max-width: 50%;
//       min-width: 45%;
//       img {
//         width: 100%;
//         padding-top: 20px;
//       }
//     }
//   }

//   .sub-left {
//     padding: 40px 5% 10%;
//     display: flex;
//     justify-content: center;
//     .sub-img {
//       max-width: 50%;
//       min-width: 45%;
//       img {
//         width: 100%;
//         padding-top: 20px;
//       }
//     }
//     .sub-text {
//       width: 45%;
//       padding-left: 3%;
//     }
//   }
//   .sub-text-large {
//     p {
//       font-size: 34px;
//       color: #29B1CC;
//       margin: 15px 0 0;
//     }
//   }

//   .sub-text-small {
//     font-size: 16px;
//   }


// /* feature */
//   .feature-wrap {
//     background-color: #29B1CC;
//     color: #FFFFFF;
//     padding: 60px 5%;
//     .feature {
//       margin: 40px 0 0;
//       padding: 0 5%;

//       .feature-upper, .feature-bottom {
//         display: flex;
//         justify-content: center;
//       }
//       .feature-upper {
//         margin-bottom: 40px;
//       }

//       .feature-detail {
//         width: 30%;
//         text-align: center;
//         p {
//           margin-top: 0;
//           text-align: left;
//           font-size: 16px;
//         }
//       }
//       .feature-detail+.feature-detail {
//         margin-left: 50px;
//       }
//     }
//   }

// /* team */
//   .team-name {
//     padding: 60px 0 40px;
//     color: #29B1CC;
//   }

//   .team {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     padding: 0 5% 60px;

//     .member {
//       width: 150px;
//       text-align: center;
//       margin: 12px;
//     }

//     .member-name p, .member-text p {
//       margin: 0;
//       font-family: Arial;
//       font-weight: bold;
//     }

//     .member-text {
//       font-size: 13px;
//       color: #29B1CC;
//       margin: 10px 0;
//     }

//     .member-img img {
//       width: 150px; height: 150px;
//     }

//     .member-name {
//       font-size: 15px;
//       color: #456E76;
//       margin-bottom: 10px;
//     }

//     .social-icon {
//       text-align: center;
//       img {
//         margin: 0 3px;
//       }
//     }
//   }

//   .footer {
//     text-align: center;
//     padding: 60px 40px;
//     .contact-large {
//       font-size: 36px;
//       color: #29B1CC;
//     }
//     .contact-small {
//       font-size: 16px;
//       color: #666666;
//       margin-bottom: 40px;
//     }
//     .contact-button {
//       background-color: #29B1CC;
//       font-size: 20px;
//       color: #FFFFFF;
//       padding: 24px 60px;
//       border-radius: 10px;
//       text-decoration: none;
//     }
//     .contact-button-flame {
//       margin: 50px 0 120px;
//     }
//     .copyright {
//       font-family: Arial;
//       font-size: 14px;
//       color: #999999;
//     }
//   }
// }

